# Praktikum 3: Manipulasi Data Tabular dengan Pandas

<a href="https://colab.research.google.com/github/pakizhan-ump/ml-umpontianak/blob/main/Modules/Week-02/Praktikum-02/Praktikum_3_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 🎯 Tujuan Praktikum
Mahasiswa mampu menggunakan library **Pandas** untuk memuat, membersihkan, memanipulasi, dan menganalisis data dalam bentuk tabel (DataFrame).

## 📖 Dasar Teori
**Pandas** adalah library yang dibangun di atas NumPy, dirancang khusus untuk analisis dan manipulasi data terstruktur atau tabular. Dua struktur data utamanya adalah:
* **Series:** Sebuah array satu dimensi yang memiliki label (indeks). Ini bisa dianggap sebagai satu kolom dalam sebuah tabel.
* **DataFrame:** Struktur data dua dimensi seperti tabel pada spreadsheet atau database SQL. DataFrame terdiri dari baris dan kolom, di mana setiap kolomnya adalah sebuah Pandas Series.

Pandas sangat esensial untuk tahap *data cleaning*, *preprocessing*, dan *exploratory data analysis (EDA)* dalam alur kerja machine learning. Ia menyediakan fungsi-fungsi tingkat tinggi untuk membaca file (CSV, Excel), menangani data yang hilang (*missing values*), melakukan pengelompokan (*grouping*), dan seleksi data yang kompleks dengan mudah.

# 🔧 OPERASI FUNDAMENTAL PANDAS

In [49]:
import pandas as pd
import numpy as np

# 1. DATAFRAME CREATION

In [50]:
print("=== DATAFRAME CREATION ===")
# From dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 70000, 55000],
    'Department': ['IT', 'HR', 'IT', 'Finance']
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

=== DATAFRAME CREATION ===
DataFrame:
       Name  Age  Salary Department
0    Alice   25   50000         IT
1      Bob   30   60000         HR
2  Charlie   35   70000         IT
3    David   28   55000    Finance

# 2. ACCESS & INDEXING

In [51]:
print("\n=== ACCESS & INDEXING ===")
print("Column 'Name':", df['Name'].tolist())
print("First row:\n", df.iloc[0])                    # By integer position
print("Rows 1-2:\n", df.iloc[1:3])
print("Filter Age > 28:\n", df[df['Age'] > 28])

=== ACCESS & INDEXING ===
Column 'Name': ['Alice', 'Bob', 'Charlie', 'David']
First row:
 Name          Alice
Age              25
Salary        50000
Department       IT
Name: 0, dtype: object
Rows 1-2:
       Name  Age  Salary Department
1      Bob   30   60000         HR
2  Charlie   35   70000         IT
Filter Age > 28:
       Name  Age  Salary Department
1      Bob   30   60000         HR
2  Charlie   35   70000         IT

# 3. ADD/REMOVE COLUMNS

In [52]:

print("\n=== ADD/REMOVE COLUMNS ===")
df['Experience'] = [2, 5, 8, 3]                     # Add new column
df['Senior'] = df['Age'] > 30                       # Conditional column
df = df.drop('Experience', axis=1)                  # Remove column
print("After modifications:\n", df)

=== ADD/REMOVE COLUMNS ===
After modifications:
       Name  Age  Salary Department  Senior
0    Alice   25   50000         IT   False
1      Bob   30   60000         HR   False
2  Charlie   35   70000         IT    True
3    David   28   55000    Finance   False

# 4. HANDLING MISSING VALUES

In [53]:
import pandas as pd
import numpy as np

# Contoh DataFrame (pastikan df didefinisikan)
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
})

print("\n=== MISSING VALUES ===")
df_with_na = df.copy()
df_with_na.loc[1, 'Salary'] = np.nan
df_with_na.loc[2, 'Age'] = np.nan

print("With missing values:\n", df_with_na)
print("Is null:\n", df_with_na.isnull())

# Isi missing values numeric dengan mean kolom (aman untuk kolom non-numeric)
df_filled = df_with_na.fillna(df_with_na.mean(numeric_only=True))
print("Fill with mean:\n", df_filled)

# Alternatif (per-kolom, in-place)
df_with_na['Age'].fillna(df_with_na['Age'].mean(), inplace=True)
df_with_na['Salary'].fillna(df_with_na['Salary'].mean(), inplace=True)
print("After per-column fill:\n", df_with_na)

=== MISSING VALUES ===
With missing values:
       Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0      NaN
2  Charlie   NaN  70000.0
3    David  40.0  80000.0
Is null:
     Name    Age  Salary
0  False  False   False
1  False  False    True
2  False   True   False
3  False  False   False
Fill with mean:
       Name        Age        Salary
0    Alice  25.000000  50000.000000
1      Bob  30.000000  66666.666667
2  Charlie  31.666667  70000.000000
3    David  40.000000  80000.000000
After per-column fill:
       Name        Age        Salary
0    Alice  25.000000  50000.000000
1      Bob  30.000000  66666.666667
2  Charlie  31.666667  70000.000000
3    David  40.000000  80000.000000

/tmp/ipython-input-2976147549.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_with_na['Age'].fillna(df_with_na['Age'].mean(), inplace=True)
/tmp/ipython-input-2976147549.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_with_na['Salary'].fillna(df_with_na['Salary'].mean(), inplace=True)

# 5. GROUPING & AGGREGATION

In [54]:
import pandas as pd
import numpy as np

# DataFrame dengan kolom Department
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'Finance'],
    'Age': [25, 30, 35, 40, 28, 38],
    'Salary': [50000, 60000, 70000, 80000, 55000, 75000]
})

print("\n=== GROUPING & AGGREGATION ===")
grouped = df.groupby('Department')

# Hitung rata-rata per group
print("Grouped means:\n", grouped.mean(numeric_only=True))

# Deskripsi statistik hanya untuk kolom Salary
print("\nGrouped description (Salary):\n", grouped['Salary'].describe())

=== GROUPING & AGGREGATION ===
Grouped means:
              Age   Salary
Department
Finance     39.0  77500.0
HR          29.0  57500.0
IT          30.0  60000.0

Grouped description (Salary):
             count     mean           std      min      25%      50%      75%  \
Department
Finance       2.0  77500.0   3535.533906  75000.0  76250.0  77500.0  78750.0
HR            2.0  57500.0   3535.533906  55000.0  56250.0  57500.0  58750.0
IT            2.0  60000.0  14142.135624  50000.0  55000.0  60000.0  65000.0

                max
Department
Finance     80000.0
HR          60000.0
IT          70000.0

# 6. SORTING

In [55]:
import pandas as pd

# Contoh DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'Finance'],
    'Age': [25, 30, 35, 40, 28, 38],
    'Salary': [50000, 60000, 70000, 80000, 55000, 75000]
})

print("\n=== SORTING ===")
df_sorted = df.sort_values(by='Salary', ascending=False, ignore_index=True)
print("Sorted by Salary (descending):\n", df_sorted)

=== SORTING ===
Sorted by Salary (descending):
       Name Department  Age  Salary
0    David    Finance   40   80000
1    Frank    Finance   38   75000
2  Charlie         IT   35   70000
3      Bob         HR   30   60000
4      Eva         HR   28   55000
5    Alice         IT   25   50000

# 7. MERGING & JOINING

In [56]:
import pandas as pd

# DataFrame utama
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'Finance'],
    'Age': [25, 30, 35, 40, 28, 38],
    'Salary': [50000, 60000, 70000, 80000, 55000, 75000]
})

print("\n=== MERGING ===")
df2 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Eva'],   # samakan dengan 'Eva' agar match
    'Bonus': [5000, 3000, 4000]
})

merged = pd.merge(df, df2, on='Name', how='left', indicator=True)
print("Merged DataFrame:\n", merged)

=== MERGING ===
Merged DataFrame:
       Name Department  Age  Salary   Bonus     _merge
0    Alice         IT   25   50000  5000.0       both
1      Bob         HR   30   60000  3000.0       both
2  Charlie         IT   35   70000     NaN  left_only
3    David    Finance   40   80000     NaN  left_only
4      Eva         HR   28   55000  4000.0       both
5    Frank    Finance   38   75000     NaN  left_only

# 8. PIVOT TABLES

In [57]:
print("\n=== PIVOT TABLES ===")
pivot = df.pivot_table(values='Salary', index='Department', aggfunc=['mean', 'count'])
print("Pivot table:\n", pivot)

=== PIVOT TABLES ===
Pivot table:
                mean  count
             Salary Salary
Department
Finance     77500.0      2
HR          57500.0      2
IT          60000.0      2

# 9. DATETIME OPERATIONS

In [58]:
import pandas as pd

# Contoh DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['IT', 'HR', 'IT', 'Finance'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
})

print("\n=== DATETIME OPERATIONS ===")

# Sesuaikan jumlah tanggal dengan jumlah baris DataFrame
dates = pd.date_range('2023-01-01', periods=len(df))

# Buat salinan DataFrame
df_dates = df.copy()
df_dates['Join_Date'] = dates

# Ekstrak tahun dari tanggal
df_dates['Year'] = df_dates['Join_Date'].dt.year

print("With dates:\n", df_dates)

=== DATETIME OPERATIONS ===
With dates:
       Name Department  Age  Salary  Join_Date  Year
0    Alice         IT   25   50000 2023-01-01  2023
1      Bob         HR   30   60000 2023-01-02  2023
2  Charlie         IT   35   70000 2023-01-03  2023
3    David    Finance   40   80000 2023-01-04  2023

# 10. STRING OPERATIONS

In [59]:
import pandas as pd

# Contoh DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['IT', 'HR', 'IT', 'Finance'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
})

print("\n=== STRING OPERATIONS ===")

# Buat salinan DataFrame
df_str = df.copy()

# Operasi string
df_str['Name_Upper'] = df_str['Name'].str.upper()       # UPPERCASE
df_str['Name_Length'] = df_str['Name'].str.len()        # Panjang string

print("String operations:\n", df_str[['Name', 'Name_Upper', 'Name_Length']])

=== STRING OPERATIONS ===
String operations:
       Name Name_Upper  Name_Length
0    Alice      ALICE            5
1      Bob        BOB            3
2  Charlie    CHARLIE            7
3    David      DAVID            5

# 🏋️ LATIHAN 3: OPERASI PANDAS UNTUK DATA ANALYSIS
### EXPLORATORY DATA ANALYSIS ###

In [60]:
import pandas as pd
import numpy as np

# ----------------------------------------
# 1️⃣ Membuat Dataset Retail
# ----------------------------------------
np.random.seed(42)
dates = pd.date_range('2023-01-01', '2023-03-31', freq='D')
retail_data = pd.DataFrame({
    'date': np.random.choice(dates, 1000),
    'product_id': np.random.randint(1, 11, 1000),
    'quantity': np.random.randint(1, 10, 1000),
    'price': np.random.uniform(10, 100, 1000),
    'customer_id': np.random.randint(1, 101, 1000)
})
retail_data['revenue'] = retail_data['quantity'] * retail_data['price']

# ----------------------------------------
# 2️⃣ Total Revenue per Product
# ----------------------------------------
revenue_per_product = (
    retail_data.groupby('product_id')['revenue']
    .sum()
    .reset_index()
    .sort_values('revenue', ascending=False)
)
print("=== Total Revenue per Product ===")
print(revenue_per_product)

# ----------------------------------------
# 3️⃣ Top 5 Customers Berdasarkan Total Spending
# ----------------------------------------
top_customers = (
    retail_data.groupby('customer_id')['revenue']
    .sum()
    .reset_index()
    .sort_values('revenue', ascending=False)
    .head(5)
)
print("\n=== Top 5 Customers ===")
print(top_customers)

# ----------------------------------------
# 4️⃣ Daily Revenue (Time Series)
# ----------------------------------------
daily_revenue = (
    retail_data.groupby('date')['revenue']
    .sum()
    .reset_index()
    .sort_values('date')
)
print("\n=== Daily Revenue (Time Series) ===")
print(daily_revenue.head())

# ----------------------------------------
# 5️⃣ Fungsi Deteksi Anomali Quantity
# ----------------------------------------
def detect_quantity_anomalies(df, threshold=2):
    mean_q = df['quantity'].mean()
    std_q = df['quantity'].std()
    z_score = (df['quantity'] - mean_q) / std_q
    anomalies = df[np.abs(z_score) > threshold]
    return anomalies

anomalies = detect_quantity_anomalies(retail_data)
print("\n=== Detected Quantity Anomalies ===")
print(anomalies.head())

# ----------------------------------------
# 6️⃣ Assertions
# ----------------------------------------
assert len(revenue_per_product) <= 10, "Should have max 10 products"
assert len(top_customers) == 5, "Should have top 5 customers"
print("\n✅ Pandas operations completed successfully!")

=== Total Revenue per Product ===
   product_id       revenue
7           8  32062.915807
8           9  30812.566464
6           7  30786.212454
4           5  29894.628309
5           6  29771.241361
1           2  28433.373576
2           3  27360.489903
9          10  25146.428705
0           1  24953.204554
3           4  23950.525430

=== Top 5 Customers ===
    customer_id      revenue
37           38  5239.536260
58           59  5185.221233
88           89  4759.149270
93           94  4690.528278
14           15  4657.289888

=== Daily Revenue (Time Series) ===
        date      revenue
0 2023-01-01  5268.121555
1 2023-01-02  4656.102661
2 2023-01-03  3226.578585
3 2023-01-04  2462.071219
4 2023-01-05  3741.645829

=== Detected Quantity Anomalies ===
Empty DataFrame
Columns: [date, product_id, quantity, price, customer_id, revenue]
Index: []

✅ Pandas operations completed successfully!